nav {
  box-shadow: none;
  z-index: 10;
}

.page-item {
  cursor: pointer;
}

.textBook {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 18px var(--bs-gray);
  border-radius: 30px;
}

.textBook__btn-group-wrapper {
  text-align: center;
}

.textBook__pagination {
  margin-top: 1rem;
}

.textBook__pagination_list {
  gap: 1rem;
}

.textBook__words-list {
  padding-left: 0;
}

.word-card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  box-shadow: 5px 5px 18px var(--bs-gray);
  border-radius: 30px;
}

.word-card_visual-content-wrapper {
  display: flex;
}

.word-card_information-wrapper {
  padding: 1rem;
}

.word-card_audio-content-wrapper {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.word-card_audio-button {
  border-radius: 50%;
  border: 3px solid var(--bs-warning);
  background-color: var(--bg-color);
  &:hover {
    background-color: var(--buttons-color);
  }
  &:active {
    transform: scale(1.1);
  }
}

.word-card_audio-button-image {
  width: 5rem;
}
