#main {
  .card__main {
    border: none;
    div {
      padding: 7rem 2rem;
      .main-title {
        font-weight: 900;
        max-width: 26rem;
        border-radius: 0.5rem;
        color: var(--main-txt-color);
        background-color: var(--main-txt-bg);
        padding: 1rem;
      }
      .card-text {
        font-size: 1.5rem;
        font-weight: 500;
        max-width: 40rem;
        border-radius: 0.5rem;
        color: var(--main-txt-color);
        background-color: var(--main-txt-bg);
        padding: 1rem;
      }
      .card-btn {
        text-align: center;
        button {
          color: var(--main-txt-color);
          font-size: 1.2rem;
          min-width: 10rem;
          font-weight: 500;
        }
      }
    }
  }
  .card__advantage {
    background-color: transparent;
    border: none;
    margin-bottom: 3rem;
  }
  .card__video {
    background-color: var(--secondary-color);
    border: none;
    padding: 2rem;
    margin-bottom: 5rem;
    h2 {
      font-weight: 700;
    }
  }
}

@media (max-width: 1200px) {
  #main {
    .card__main {
      div {
        padding: 4rem 1rem;
        .main-title {
          font-size: 2rem;
          max-width: 21rem;
          border-radius: 0.3rem;
          padding: 0.8rem;
        }
        .card-text {
          font-size: 1.2rem;
          max-width: 31rem;
          border-radius: 0.3rem;
          padding: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 998px) {
  #main {
    .card__main {
      div {
        padding: 2rem 1rem;
        .main-title {
          font-size: 1.5rem;
          max-width: 20rem;
          padding: 0.5rem;
        }
        .card-text {
          font-size: 1rem;
          max-width: 26rem;
          padding: 0.5rem;
        }
        .card-btn {
          button {
            font-size: 1rem;
            min-width: 8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #main {
    .card__main {
      div {
        padding: 2rem 1rem;
        .main-title {
          font-weight: 700;
          font-size: 1.2rem;
          max-width: 45%;
          padding: 0.2rem 0.5rem;
        }
        .card-text {
          font-size: 0.8rem;
          max-width: 70%;
          padding: 0.2rem 0.5rem;
          margin-bottom: 0.5rem;
        }
        .card-btn {
          padding: 0.5rem;
          button {
            font-size: 0.8rem;
            min-width: 7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 530px) {
  #main {
    .card__main {
      div {
        padding: 1rem 1rem;
        text-align: center;
        .main-title {
          max-width: 85%;
          margin: 0 auto 0.5rem auto;
        }
        .card-text {
          max-width: 85%;
          margin: 0 auto;
        }
        .main__text {
          display: none;
        }
        .card-btn {
          padding: 0.3rem;
        }
      }
    }
  }
}

.team-boxed {
  h2 {
    font-weight: 700;
  }
  .item {
    text-align: center;
    .box {
      text-align: center;
      padding: 30px;
      background-color: var(--secondary-color);
      margin-bottom: 30px;
      min-height: 32rem;
      border-radius: 0.3rem;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
      a {
        color: var(--text-color);
      }
    }
    .name {
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 8px;
      color: inherit;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--bs-gray-500);
      letter-spacing: 2px;
      font-size: 13px;
    }
    .description {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    img {
      max-width: 160px;
    }
  }
  .social {
    font-size: 18px;
    color: var(--bs-gray);
    a {
      color: inherit;
      margin: 0 10px;
      display: inline-block;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
