.audiocall__subtitle {
  text-align: center;
}

.audiocall__voice {
  margin: 0 auto;
  width: 5rem;
}

.audiocall__btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  label {
    min-width: 8rem;
    font-weight: 500;
    color: var(--text-color);
  }
}

.audiocall__img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.audiocall__next {
  max-width: 10rem;
  min-width: 9rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 auto;
}

.audiocall__btn-true {
  --bs-btn-active-bg: var(--bs-teal);
  --bs-btn-active-border-color: var(--bs-teal);
}

.audiocall__btn-false {
  --bs-btn-active-bg: var(--bs-red);
  --bs-btn-active-border-color: var(--bs-red);
}
