.word-card_sm-audio-button {
  line-height: 1.1rem;
  font-size: 1.1rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid var(--bs-warning);
  background-color: var(--bg-color);
  &:hover {
    background-color: var(--buttons-color);
  }
  &:active {
    transform: scale(1.1);
  }
}

.word-card_sm-audio-button-image {
  width: 1.5rem;
}
