.line-graph {
  min-width: 280px;
  background-color: var(--bg-second);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
  display: inline-block;
  position: relative;
  width: 500px;
}
